* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    height: 5vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 
    rgba(0, 0, 0, 0.2), 0 
    6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header div a {
    font-size: 1.5vw;
}

.name {
    /*background-color: rebeccapurple;*/
    margin-left: 20vw;
}

.page-links {
    width: auto;
    margin-left: auto;
    margin-right: 20vw;
    /*background-color: red;*/
}

.page-links a {
    margin: 10px;
}

.intro {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 100vw;
    /*background-color: cornflowerblue;*/
}

.intro-text {
    width: 500px;
    /*background-color: red;*/
    margin: 180px auto;
    font-size: 50px;
    text-align: center;
}

.intro-buttons {  
    width: 500px;
    /*background-color: seagreen;*/
    margin: auto auto 50px;
}

.intro-buttons button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.button-linkedin {
    border: 2px solid #0077B5;
}

.button-github {
    border: 2px solid #6cc644;
}

.button-facebook {
    border: 2px solid #3b5998;
}

.button-instagram {
    border: 2px solid #bc2a8d;
}

